body {
	/* background-color: #A7A7A9; */
/*	background-color: #6F6FAE; */
    background-image: url("../images/chess007.jpeg");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    color: #f6c556;
}

html, body, span, button {
    cursor: none;
}

/* Might want to look into bolding price text later */
tspan {
    font: bold;
}
/*  */

/* .center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    /* filter: invert(71%) sepia(34%) saturate(407%) hue-rotate(152deg) brightness(104%) contrast(89%); */
/* } */

/* .filter-white {
    filter: none;
}

.filter-blue {
    filter: invert(71%) sepia(34%) saturate(407%) hue-rotate(152deg) brightness(104%) contrast(89%);
} */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    /* background: radial-gradient(#444,#222); */
}

.card {
    position: relative;
    width: 250px;
    height: 250px;
}

.card .rating {
    position: relative;
    width: 100%;
    height: 100%;
    /* background: #f00; */
}

.card .rating .block {
    position: absolute;
    width: 2px;
    height: 10px;
    background: black; /* This is the color that affects the progress Wheel */
    left: 50%;
    transform-origin: 50% 100px;
    opacity: 0;
    animation: animate 2s linear forwards;
    /* transform: rotate(25deg); */
}

/* .card .rating .block button {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
} */

@keyframes animate {
    to {
        opacity: 1;
    }
}

/* .card .rating .block.green-spoke {
    background-color: green;
    box-shadow: 0 0 15px green, 0 0 15px #0f0;
  }
  
  .card .rating .block.initial-green {
    background: black;
    box-shadow: 0 0 15px black, 0 0 20px #0f0;
  } */
/* .card .rating .block.active {
    background: darkgreen;
    box-shadow: 0 0 15px green, 0 0 30px #0f0;
} */

/* .card .rating .block:nth-child(-n+1) {
    background: black;
    box-shadow: 0 0 15px green, 0 0 20px #0f0;
} */

.block {
    position: absolute;
    width: 2px;
    height: 10px;
    background: black; /* Initial color */
    left: 50%;
    transform-origin: 50% 100px;
    opacity: 0;
    animation: animate 2s linear forwards;
    transition: background-color 0.5s ease; /* Animation for color change */
  }

/* .card .rating .block:nth-child(-n+101) {
    background: black;
    box-shadow: 0 0 15px green, 0 0 20px #0f0;
} */

/* .card .rating h2 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #fff;
    font-size: 1.2em;
    font-weight: 500;
    text-align: center;
    line-height: 1.5em;
} */


.circle-cursor {
    position: fixed;
    width: 10px;
    height: 10px;
    /* background-color: #008ECE; */
    background-color: rgb(135, 206, 235);
    border-radius: 50%;
    pointer-events: auto;
    z-index: 9999;
    display: none;
}

.btn {
    position: absolute;
    left: -50px;
    top: 50px;
    width: 7em;
    height: 7em;
    border-radius: 50%;
    outline: none;
    border: 4px #090909 solid;
    background: linear-gradient(
        145deg, #171717, #444245
    );
    box-shadow: inset 2px 2px 0px #7d7c7e,
        inset -2px -2px 0px #1c1c1c;
    color: #a6a6a6;
    /* transform: translate(-50%, 50%); */
}

.btn span {
    font-size: 2.9em;
}

.btn::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: inherit;
    background: linear-gradient(
        145deg, #262626, #606060
    );
    width: 7.25em;
    height: 7.25em;
    z-index: -1;
    box-shadow: 11px 11px 22px #141414,
                -11px -11px 22px #525252;
}

.button-clicked {
    background: linear-gradient(
        -185deg, #131313, #444245;
    );
    box-shadow: inset -2px -2px 0px #5e5e5e,
        inset 2px 2px 0px #1c1c1c;
    color: rgb(135, 206, 235);
}

.button-hover {
    background: #5e5e5e;
}

.icon-clicked {
    /* color: #0fa; */
    color: rgb(135, 206, 235);
    text-shadow:
    0 0 7px #fff,
    0 0 10px #fff,
    0 0 21px #fff,
}
/* .icon-clicked {
    color: #fff;
    text-shadow: 0px 0px 15px #008ECE;
} */

/* https://css-tricks.com/how-to-create-neon-text-with-css/ */