/* Meaning this may be unnecessary */
/* Nonetheless: */

@import url("https://fonts.googleapis.com/css?family=Crimson+Text&display=swap");
@import url("https://fonts.googleapis.com/css?family=Work+Sans&display=swap");

* {
  box-sizing: border-box;
}

body {
  /* Prev: background: #28305a; */
  display: flex; 
  /* height: 100vh; */
  margin: 0 20px;
  padding: 0;
  /* background-image: url('../images/nature-2.webp'); */
  background: linear-gradient(
        90deg, #3c4c34 0%,
        #3c4c34 100%
    );
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

html, body, span, button, center {
  cursor: none;
}

.center{
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
}

.center .top {
  display: flex;
  text-align: stretch;
  align-items: center;
  justify-content: left;
}

.outer{
  position: relative;
  margin: 0 50px;
  background: #999;
}

.button{
  height: 70px;
  width: 220px;
  border-radius: 50px;
}

/* #ar {
is how I would select just arabic button
} */

.circle{
  height: 200px;
  width: 200px;
  border-radius: 50%;
}

.outer button, .outer span{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  cursor: none;
}
.outer button{
  /* background: linear-gradient(45deg, darkseagreen, #C4B454); */
  filter: grayscale();
  color: #9b1f1f;
  outline: none;
  border: none;
  font-size: 48px;
  z-index: 9;
  letter-spacing: 1px;
  text-transform: uppercase;
  cursor: none;
}

.outer button:hover {
  background: linear-gradient(45deg, darkseagreen, #C4B454);
  filter: none;
}
.button button{
  height: 60px;
  width: 210px;
  border-radius: 50px;
}
.circle button{
  height: 180px;
  width: 180px;
  border-radius: 50%;
}
.outer span{
  height: 100%;
  width: 100%;
  background: inherit;
}
.button span{
  border-radius: 50px;
}
.circle span{
  border-radius: 50%;
}
.outer:hover span:nth-child(1){
  filter: blur(7px);
}

.outer:hover span:nth-child(2){
  filter: blur(14px);
}
.outer:hover{
  background: linear-gradient(#08ffe6, #fbe411, #a600ff);
  animation: rotate 1.5s linear infinite;
}


@keyframes rotate {
  0%{
    filter: hue-rotate(0deg);
  }
  100%{
    filter: hue-rotate(360deg);
  }
}
@media (max-width: 640px){
  .center{
    flex-wrap: wrap;
    flex-direction: column;
  }
  .outer{
    margin: 50px 0;
  }
}

a
{
  position: relative;
  padding: 20px 60px;
  border-radius: 50px;
  color: #151b38;
  font-size: 1.5em;
  text-transform: uppercase;
  text-decoration: none;
  letter-spacing: 0.1em;
  background: #151b38;
  transition: 0.5s;
  overflow: hidden;
}

a:hover {
  color: var(--clr);
  text-shadow: 0 0 15px var(--clr),
  0 0 40px var(--clr);
}

a span {
  position: relative;
  z-index: 1;
}

a::before {
  content: '';
  position: absolute;
  top: var(--y);
  left: var(--x);
  transform: translate(-50%, -50%);
  width: 200px;
  height: 200px;
  background: radial-gradient(var(--clr), transparent, transparent);
  transition: 0.5s, top 0s, left 0s;
  opacity: 0;
}

a:hover::before {
opacity: 1; 
}

a::after {
  content: '';
  position: absolute;
  inset: 2px;
  background: #151b38;
  border-radius: 256px;
}

h1 {
    padding: 15px 15px 15px 15px;
    background-color: #ECC5C0;
    box-shadow: 5px 5px 35px 0px #7e84f9;
    font-size: 48px;
    font-weight: bold;
    border-radius: 10px;
    color: #B76E79;
}

h4 {
    padding: 5px 5px 5px 5px;
    font-weight: bold;
    background-color: #7e84f9;
    border-radius: 10px;
    color: #ffffff;
}

img {
  /* clip-path: circle(40% at 50% 50%); */
  border:5px solid #555;
  display: block;
  margin: left;
  align-items: center;
  height: 20vh;
  /* filter: grayscale(); */
}


img:hover {
  filter: none;
  border: none;
}

#textUnderProfile {
  font-size: 24px;
}

.contact-container {
  font-size: 144px;
} 



.mainBlock {
  padding: 10px;
  background-color: pink;
  border-radius: 25px;

}

.pie {
  -webkit-tap-highlight-color: transparent;
  background: #000;
  border-radius: 50%;
  box-shadow: 0 0 4px 5px rgba(0, 0, 0, 0.2);
  /* cursor: pointer; */
  height: 400px;
  left: -200px;
  position: absolute;
  top: -200px;
  width: 400px;
  transform: translateX(-200px) translateY(-200px);
  transition: transform 300ms;
}
.pie-color:hover {
  opacity: 0.85;
}
.pie-color:active {
  opacity: 0.7;
}
.pie1 {
  clip-path: polygon(200px 200px, 344px 450px, 0 450px);
  transition-delay: 30ms;
}
.pie2 {
  clip-path: polygon(200px 200px, 344px 450px, 450px 344px);
  transition-delay: 60ms;
}
.pie3 {
  clip-path: polygon(200px 200px, 450px 0, 450px 344px);
  transition-delay: 90ms;
}
.pie-color {
  width: 100%;
  height: 100%;
  border-radius: 50%;
}
.pie-color1 {
  background: linear-gradient(135deg, #f12711, #f5af19);
  clip-path: polygon(200px 200px, 344px 450px, 0 450px);
}
.pie-color2 {
  background: linear-gradient(135deg, #444, #7e84f9);
  clip-path: polygon(200px 200px, 344px 450px, 450px 344px);
}
.pie-color3 {
  background: linear-gradient(135deg, #444, #b7e13f);
  clip-path: polygon(200px 200px, 450px 0, 450px 344px);
}
.phone {
  left: 216px;
  position: absolute;
  top: 300px;
  width: 46px;
}
.card {
  left: 216px;
  position: absolute;
  top: 300px;
  width: 46px;
}
.langs {
  left: 288px;
  position: absolute;
  top: 258px;
  width: 46px;
}
.cart {
  left: 324px;
  position: absolute;
  top: 188px;
  width: 46px;
}
.menu {
  -webkit-tap-highlight-color: transparent;
  background: #ECC5C0;
  border-radius: 50%;
  box-shadow: 0 0 4px 5px rgba(0, 0, 0, 0.2);
  /* cursor: pointer; */
  height: 200px;
  left: -100px;
  position: absolute;
  top: -100px;
  width: 200px;
}
.hamburger {
  /* cursor: pointer; */
  height: 46px;
  left: 58%;
  position: relative;
  top: 58%;
  width: 46px;
}
.title {
  color: white;
  font-family: "Crimson Text", serif;
  font-size: 80px;
  line-height: 84px;
  margin-top: 60px;
  text-align: center;
}
/* .body {
  color: white;
  font-family: "Work Sans", sans-serif;
  font-size: 20px;
  justify-content: center;
  line-height: 28px;
  margin: 30px auto;
  max-width: 600px;
  text-align: center;
} */

/* .hamburger path {
  transition: transform 300ms;
}
.hamburger path:nth-child(1) {
  transform-origin: 25% 29%;
}
.hamburger path:nth-child(2) {
  transform-origin: 50% 50%;
}
.hamburger path:nth-child(3) {
  transform-origin: 75% 72%;
}
.hamburger path:nth-child(4) {
  transform-origin: 75% 29%;
}
.hamburger path:nth-child(5) {
  transform-origin: 25% 72%;
}
.active .pie {
  transform: translateX(0) translateY(0);
}
.active .hamburger path:nth-child(1) {
  transform: rotate(45deg);
}
.active .hamburger path:nth-child(2) {
  transform: scaleX(0);
}
.active .hamburger path:nth-child(3) {
  transform: rotate(45deg);
}
.active .hamburger path:nth-child(4) {
  transform: rotate(-45deg);
}
.active .hamburger path:nth-child(5) {
  transform: rotate(-45deg);
} */
